
body {
position: relative;
padding: 0;
margin: 0;
  background-position: fixed;
  background-attachment: fixed;
height: 100%;
}
body:after {
  content: "";
  background-image: url("fac.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  background-position: fixed;
  background-attachment: fixed;
  z-index: -1;   
}

#front {
  box-shadow: 5px 5px 5px black;
  border-radius: 50px ;
  border: 1px solid black;
  color:black;
  background-color:rgba(255,255,255,0.3);
  width:70%;
   height:15%;"
  background-color: rgba(255, 255, 255, 0.3);
}

#front:hover {
  background-color:rgba(255,255,255,1);
}

div.navv {
position: fixed;
top: 0;
right: 0;
left: 0;

}

ul.navv {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  background-color: #333;
}

li.navv{
  float: left;
  border-right:1px solid #bbb;
}

li.navv:last-child {
  border-right: none;
}

li.navv a.navv {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.navv a.navv:hover:not(.active) {
   background-color: rgba(255, 0, 0, 1);
  
}

a.active {
  background-color: red;
}

ul.foott{

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	}

	div.foott {

		position: fixed;
		bottom: 0;
  		right: 0;
	}
  
   li.foott {
  float: left;
  border-right:1px solid #bbb;
}

li.foott:last-child {
  border-right: none;
}

li.foott a.foott {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.foott a.foott:hover:not(.active) {
  background-color: turquoise;
}

div.row  {

	margin: auto; text-align: center; margin-top: 10%;  width: 60vw; border-radius: 50px;
}

div.col {
	margin: auto; text-align: center; border: 4px solid black;padding: 60px;border-radius: 50px; margin: 15px;
  box-shadow: 5px 5px 5px black;
}

div.col:hover {
background-color: rgba(255, 255, 255,0.5);
color: white;
text-shadow: 2px 2px #ff0000;

}

div.doctors_Con {
	margin: auto;
	border: 4px solid black;
	border-radius: 50px;
	height: 25vh;
	line-height: 100px;
	text-align: center;
	width: 60vw;
	margin-top: 30px;
	position: relative;
}



ul.foott-doc{
	list-style-position: inside;
	margin: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;
   }

	div.foott-doc {
		margin: auto;
		position: absolute;
		bottom: 0;
		  width: 100%;
  		
  		left: 0;
  		margin-bottom: 3px;
  		
	}
  
   li.foott-doc {
  float: left;
  
}


li.foott-doc a.foott-doc {
  display: block;
  color: white;
  text-align: center;
  padding: 3px 5px;
  text-decoration: none;
  border-radius: 50px;
  margin: 0;
}

li.foott:last-child {
  border-right: none;
  float: right;
}
li.foott-doc {
	width: 20%;
}
li.foott-doc a.foott-doc:hover:not(.active) {
  background-color: turquoise;
}

